<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="it">
<head>
    <meta charset="UTF-8" th:insert="~{components/utilities/bootstrapCSS :: bootstrapCSS}">
    <title>Crea la tua pizza</title>
</head>
<body>
    <div th:replace="~{components/navbar :: navbar}" class="mt-10"></div>

    <section class="mt-[15rem] flex flex-column items-center justify-center container">
        <form
        th:action="@{create}"
        th:method="POST"
        th:object="${pizza}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome della tua pizza</label>
                <input type="text" class="form-control" id="nome" th:field="*{name}"																									            th:errorclass="is-invalid">
                <!-- validation feedback -->
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="descrizione" class="form-label">Descrizione</label>
                <input type="text" class="form-control" id="descrizione" th:field="*{description}"																									                   th:errorclass="is-invalid">
                <!-- validation feedback -->
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="mb-3">
                <label for="prezzo" class="form-label">Prezzo</label>
                <input type="number" class="form-control" id="prezzo" th:field="*{price}"																									                   th:errorclass="is-invalid">
                <!-- validation feedback -->
                <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Crea</button>
            </div>
        </form>
    </section>

    <script th:replace="~{components/utilities/bootstrapJS :: bootstrapJS}"></script>
    <script th:replace="~{components/utilities/tailwindCSS :: tailwindCSS}"></script>
</body>
</html>