<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8" th:insert="~{components/utilities/bootstrapCSS :: bootstrapCSS}">
    <link th:replace="~{components/utilities/favicon :: favicon}">
    <title>Blue Pizza Verona</title>
</head>
<body>
    <main>
        <div th:replace="~{components/navbar :: navbar}" class="mt-10"></div>
        <section th:replace="~{components/hero :: hero-section}"></section>

        <!-- IF LIST CONTAINS -->
        <section class="menu-pizza px-3 mt-5" th:if="${pizza.size()>0}">
            <div>
                <h1 class="text-center font-bold text-3xl mb-[5.5rem]">Le nostre migliori pizze</h1>
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                    <li th:each="pizza : ${pizza}" class="hover:scale-110 transition-all mb-8 md:mb-[5rem] lg:mb-[8rem]">
                        <h2 th:text="${pizza.name}" class="text-2xl font-bold text-center my-2"></h2>
                        <div class="flex flex-col justify-center items-center">
                            <img th:src="${pizza.foto}" alt="foto-pizza" class="max-w-xs rounded-md">
                            <p th:text="${pizza.description}" class="text-center text-lg mt-3 max-w-[15rem]"></p>
                            <div class="flex flex-row justify-between items-center gap-3 mt-3">
                                <p th:text="${pizza.price}" class="font-bold text-xl"></p>
                                <a href="/ordina">
                                    <button type="button" class="px-3 py-2 font-semibold rounded-md bg-sky-600 hover:bg-sky-800 text-white transition-all">
                                        Ordina
                                    </button>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="px-3 mt-5 flex flex-col gap-5 justify-center items-center" th:unsless="${pizza.size()<0}">
            <h1 class="text-center font-bold text-3xl max-w-[40rem]">Menu</h1>
            <h1 class="text-center font-bold text-2xl max-w-[40rem]">
                Spiacente, abbiamo finito le pizze.. il tempo di infornare e torneranno qui!
            </h1>
        </section>
    </main>
    <script th:replace="~{components/utilities/bootstrapJS :: bootstrapJS}"></script>
    <script th:replace="~{components/utilities/tailwindCSS :: tailwindCSS}"></script>
</body>
</html>