<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="it">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{components/bootstrap :: bootstrap}"></th:block>
</head>
<body>
<main>
    <!--ALERT-->
    <div class="container-fluid my-5">
        <th:block th:if="${alertMessage}">
            <div th:replace="fragments/alertMessage :: alertMessage(${alertMessage})"></div>
        </th:block>
        <th:block th:if="${successMessage}">
            <div th:replace="fragments/successMessage :: successMessage(${successMessage})"></div>
        </th:block>
    </div>

    <!-- END ALERT -->
    <section class="table-section container my-5">
        <div class="d-flex flex-row justify-content-end align-items-center">
            <a th:href="@{/}">
                <button type="button" class="btn btn-danger">
                    Indietro
                </button>
            </a>
        </div>
        <!-- TABLE -->
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Titolo</th>
                <th scope="col" class="w-25">Pizza</th>
                <th scope="col" class="w-25">Inizio Offerta</th>
                <th scope="col" class="w-25">Fine Offerta</th>
                <th scope="col" class="w-25">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offers}">
                <td th:text="${offer.title}" class="font-bold w-16"></td>
                <td th:text="${offer.pizza.name}"></td>
                <td th:text="${offer.startDate}"></td>
                <td th:text="${offer.endDate}"></td>
                <td>
                    <!-- BUTTON GROUP-->
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a th:href="@{/show/{id}(id=${offer.id})}">
                            <button type="button" class="btn btn-primary" disabled>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                </svg>
                            </button>
                        </a>
                        <a th:href="@{/offers/edit/{id}(id=${offer.id})}">
                            <button type="button" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                                </svg>
                            </button>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#delete-modal'+ ${offer.id}" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <section th:unless="${offers.size() > 0}" class="d-flex flex-row justify-content-center align-items-center my-5">
            <h1 class="fs-3 fw-bold">Non sono presenti offerte al momento.. torna più tardi!</h1>
        </section>
    </section>

    <!-- MODAL -->
    <section class="modal-container">
        <div th:each="offer : ${offers}" th:id="'delete-modal'+ ${offer.id}" class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Vuoi eliminare offer <strong> '[[ ${offer.title} ]]' ?</strong></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Non sarà possibie accedere alle risorse cancellate, sei sicuro?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annulla</button>
                        <form th:method="POST" th:action="@{/delete/{id}(id=${offer.id})}">
                            <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>